@import url(https://fonts.googleapis.com/css?family=Fresca:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,*::after, *::before{
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root{
  --primaryColor: white;
  --secondaryColor:#208C55;
  --highlighColor:#005C85;
  --dimmedText: rgb(61, 56, 56);
  scroll-behavior: smooth;
}
body{
  /* max-width: 1600px;
  max-height:800px; */
  scroll-behavior: smooth;
  background-color: #F7F7F7;
  font-family: 'Noto sans', sans-serif;
}

h1{
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;

  color: var(--secondaryColor);
  
}

.homeHeader{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  max-width: 1600px;
  flex-flow: row nowrap;
  background-color:var(--secondaryColor);
  padding-inline: clamp(2.7rem, 4vw, 6rem);
  height: 3.5rem;
  color: var(--primaryColor); 
  box-shadow: 0 1px 4px 1px rgba(150, 150, 150, 0.649);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  
}

.homeHeader .headerNavbar ul{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  align-items:center;
  gap: clamp(.8rem, 3vw, 3rem);

}
.homeHeader .headerNavbar ul li{
  list-style: none;
}
.homeHeader .headerNavbar ul li a{
  text-decoration: none;
  color: var(--primaryColor);

  font-size: clamp(.4rem, 1.5vw, .9rem);
  transition: all 0.3s ease-in-out;
}
.homeHeader .headerNavbar ul li a:hover{
  
  color: rgba(224, 217, 217, 0.853);
  transform: scale(1.5);
}

.headerLogSignup{
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items:center;
  justify-content:space-around
}

.headerLogSignup a{
  text-decoration: none;
  color: var(--primaryColor);
  font-size: clamp(.4rem, 1.7vw, .9rem);
  line-height: 1.7vw;

}

.headerLogSignup a:nth-child(2){
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
  padding-inline: 10px;
  padding-block: 3px;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  margin-top:2.7px;
  transition: all 0.3s ease-in-out;
}
.headerLogSignup a:nth-child(2):hover{
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  
}
.Logo{
  flex-basis: 30%;
}
.ContainerforMobile{
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 65%;
  align-items: center;
  justify-content: space-between;

}
.hamburgerSide{
  display: none;
}

/* splash part */

.splash {
  padding-top:56px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  
  
}
.splash>*{
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.splashImage{
  position: relative;
  z-index: 0;
}

.splashImage::after{
  content: " ";
  background:  linear-gradient(90deg, transparent 75%, rgba(255, 255, 255, 0.5) 99%),url(/cssjsfolder/splashhigh.jpg);

  opacity: 0.8;
 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}

.splashTExt{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items: right;
  padding-inline: 10em;
  gap: 20px;
}
.splashTExt h1{
  font-size: clamp(1.9rem, 4vw, 3rem);
  font-weight: 900;
  color: #017030;
}
.splashTExt h3{
  font-size: clamp(1.2rem, 4vw, 2.2rem);
  font-weight: 700;
  
}

.splashTExt p{
  font-size: clamp(.9rem, 1vw, 1.2rem);
  font-weight: 200;
}

.splashTExt a{
  
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  border-radius: 3px;
  border: none;
  background-color: var(--secondaryColor);
  text-decoration: none;
  height:200px;
  width: 500px;
  max-width: 130px;
  height: 40px;
  

  color: whitesmoke;
}

.splashTExt a:hover{
  background-color: #147c47;
}

/* Cards section */


.OfferCards{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height:100vh;
  max-height:1080px;
  padding: clamp(.5em, 6vw, 5em);
  width: clamp(200px, 100%, 1920px);
  
}

.Title{
  margin-bottom: 5%;

}

.Title h1{
  
  font-weight: 700;
  color: var(--secondaryColor);
  padding-left: 4px;
  border-left: 4px solid var(--secondaryColor);
  }

.cardMainContainer{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  gap: 20px;
}
.cardContainer img{
  outline: none;
  width: 100%;
  height: 100%;
} 

.cardContainer{

  border-radius: 2px;
  overflow: hidden;

  width: clamp(100px, 100%, 300px);
  height: 100%;
  max-height: 400px;
  /* width: 100%;
  height: 100%;
  max-width: 300px;
  

  min-width: 100px;
  min-height: 200px; */

 position: relative;
 z-index:3;
  
 display: flex;
 flex-flow: column wrap;
 align-items: flex-end;
 justify-content: space-between;

 box-shadow: 0 0 4px 2px rgba(204, 198, 198, 0.229);
 
 transition: all 0.9s ease-in-out;

}

/* .cardContainer:hover::after {
  transform: scale(1.1);
  background-position: top center;
} */
.cardContainer:hover{

  transform: scale(1.04);
}
.cardContainer>*{
  width: 100%; 

  position: relative;
  z-index: 2;
  
  
}



.cardMainContainer .cardContainer:nth-of-type(2)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background:url(./card1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity:0.8;
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;

  min-width: 100px;
  min-height: 200px; */

  transition: all 0.5s ease-in-out;

  
}

.cardMainContainer .cardContainer:nth-of-type(1)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background:url(./card3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:  center;
  opacity:0.8;
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;

  min-width: 100px;
  min-height: 200px; */
  

  transition: all 0.8s ease-in-out;

  
}

.cardMainContainer .cardContainer:nth-of-type(3)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background:url(./card2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  opacity:0.8;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  /* max-width: 300px;
  max-height: 400px;

  min-width: 100px;
  min-height: 200px; */

  transition: all 0.4s ease-in-out;
  

}

.cardTextContainer{
  padding: 10px 20px 5px 20px;
  position: relative;
  height: 40%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content:center;

}
.cardTextContainer h2{
  margin-bottom:10px;
  color: var(--secondaryColor);
  
}

.cardTextContainer p{
  color: var(--dimmedText);
  font-size:clamp(.8rem, 1.4vw, .8rem);
  height: 100%;
  max-height: 70px;
  position: relative;
  
}
.cardTextContainer>*{
  
  position: relative; 
  z-index: 1;
}

.cardTextContainer::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: #017030;
  opacity: 0.25;

}


/* partners section */

.partners{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
  gap: 5%;
  width: 100%;
  max-width: 1600px;
  background-color: rgb(230, 230, 230);
  padding-bottom: 5%;
}

.partnersTitleDiv{
  display: flex;
  align-items:center;
  justify-content:center;
  margin-block-end: 6%;
  font-size: clamp(.9rem, 4vw, 3rem);
  font-weight: 700;
  padding-top: 5%;
  
}
.partnersTitleDiv h1{
  border-right: 4px solid var(--secondaryColor);
  padding-right: 7px;
}

.partners>*{
  width: 100%;
}

.partnersContainer{
  width:100%;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-flow: row nowrap;
  max-width: 1000px;
  max-height:300px;
  padding-inline: 2%;
  overflow: hidden;

}
.partnersContainer:nth-of-type(3){
  flex-flow: row-reverse nowrap;
}
.partnersContainer>*{
  width: 50%;
  
}


.partnersContainer .partnerImagePart img{
  width: 100%;
  height: 100vh;

  max-height:300px;
  bottom: 0;

  object-fit: cover;
}
.partnerImagePart{
  position: relative;
 border-radius: 3px;
 overflow: hidden;
 
}
.partnerImagePart:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: #7CB494;
  opacity: 0.3;
  
}

.partnersContainer:nth-of-type(3) .partnerTextPart{
  text-align: right;  
  align-items: flex-end;
}
.partnerTextPart{
  display: flex;
  flex-flow: column wrap;
  padding-top: 50px;
  align-items: flex-start;
  justify-content:center;
  height: 100vh;
  
  max-height:300px;
  width: 50%;
  padding: 3%;
  position:relative;
  z-index: 1;
}
.partnerTextPart h2{
  margin-bottom: 8%;
  font-size: clamp(1rem, 3vw, 2rem);
  
}
.partnerTextPart p{
  
  font-size: clamp(.8rem, 1vw, 1.6rem);
}


.partnerTextPart:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  background-color: #017030;
  opacity: 0.5;

}
.partnersContainer:nth-of-type(even) .partnerTextPart::before{
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width:25px;

 background-color:#017030;

}
.partnersContainer:nth-of-type(odd) .partnerTextPart::before{
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width:25px;

 background-color:#017030;

}

/* About us */
.aboutus{
  display: flex;
  flex-flow: column wrap;
  padding-inline: 3%;
  padding-block: 5%;
  align-items: center;

}
.HeadingAboutUs{
  margin-bottom: 5%;
  
}

.HeadingAboutUs h1{
  border-left:4px solid var(--secondaryColor);
  padding-left: 4px;
}

.containerAboutUs{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:center;
  gap: 10px;
  position: relative;
  z-index: 0;
}
.mainAboutUs{
  position: relative;
  flex-basis: 50%;
  border: 2px solid #017030;
  flex-shrink: 2;
  width: 100%;
  height:100vh;
  min-height: 400px;
  max-height: 523.433px;

  
  z-index: 0;
}

.clipPath2,.clipPath1, .clipPath3{
 
  z-index: initial;
}
.clipPath2:hover .clipPath2Content .clipcontentcontainer::after,.clipPath1:hover .clipPath1Content .clipcontentcontainer::after,.clipPath3:hover .clipPath3Content .clipcontentcontainer::after{
  opacity: .25;
}
.clipPath2:hover .clipPath2Content h2,.clipPath1:hover .clipPath1Content h2,.clipPath3:hover .clipPath3Content h2{
  opacity: 1;
}

.clipPath2:hover .clipPath2Content p,.clipPath1:hover .clipPath1Content p,.clipPath3:hover .clipPath3Content p{
  opacity: 1;
}
.clipPath1{

top:0;
left: 0;
width: 100%;
height: 100%;
position: absolute;


clip-path: polygon(2% 2%, 32% 2%, 32% 98%, 2% 98%);
transition: clip-path 0.5s ease-in;

}
.clipPathContentIndex{
  z-index: 5;
}
.clipPath1Content, .clipPath2Content, .clipPath3Content{
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  position: relative;   
  z-index: 3;
  
  pointer-events: none;
}

.clipPath1Content>*, .clipPath2Content>*, .clipPath3Content>*{
 position: relative;
 z-index: 1;
 transition: .5 ease-in-out;
}

.clipPath1Content h2, .clipPath2Content h2, .clipPath3Content h2{
 color: var(--primaryColor);
 opacity: 0;
 font-weight: 700;
 transition: .5s ease-in;
 border-left: 5px solid #42f18b;
 padding-left: 1.5%;
 font-size: clamp(1.4rem, 3vw, 2.7rem);
 position: relative;
 z-index: 2;
}

.clipPath1Content p, .clipPath2Content p, .clipPath3Content p{
  color: rgba(245, 245, 245, 0.878);
  line-height: 200%;
  opacity: 0;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.4rem);
  transition-delay: .6s;
  transition-property: all;
  transition-duration: .7s;
  position: relative;
  z-index: 2;
 }
 .clipcontentcontainerbasis{
  max-width: 650px;
  max-height: 250px;
  height: 90vh;
  width: 90vw;
  position: relative;
  padding: 4%;
  padding-left: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
}
.clipcontentcontainerbasis >*{
  width: 100%;
  
}
  .clipcontentcontainerbasis div{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: left;
  }
 .clipcontentcontainerbasis::after,.clipcontentcontainerbasis::after,.clipcontentcontainerbasis::after{
 content:'';
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: 0;
 background-color:#017030 ;
 opacity: 0;
 }
.border{
  border-right: 5px solid #42f18b;
  margin-left: 5px;
}
.clipPath1Content::after{
content:'';
top:0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
z-index: 0;

background-image: url(/cssjsfolder/staffsplant.jpg);
opacity: 1;
background-color: #147c465a;
filter: blur(1.3px);
background-blend-mode: screen;
background-position: center top;
background-size: cover;
}

.clipPath2Content::after{
  content:'';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  
  background-image: url(/cssjsfolder/serviceplant.jpg);
  opacity: 1;
  background-color: #147c465a;
  filter: blur(1.3px);
  background-position: center left;
  background-size: 100%;
  background-blend-mode: screen;
  }

  .clipParagrap1,.clipParagrap2,.clipParagrap3{
    font-size: (1rem, 4vw, 3rem);
  }
 
  .clipPath3Content::after{
    content:'';
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-blend-mode: screen;
    background-image: url(/cssjsfolder/effortsplant.jpg);
    opacity: 1;
    background-color: #147c465a;
    filter: blur(1.3px);
    background-position:100%;
    background-size: cover;
    }


.clipPath2{
  
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
 
  
  clip-path: polygon(34% 2%, 66% 2%, 66% 98%, 34% 98%);
  transition: clip-path 0.5s ease-in;
  
  }

  .clipPath3{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    
    
    clip-path: polygon(68% 2%, 98% 2%, 98% 98%, 68% 98%);
    transition: clip-path .5s ease-in;
    transition-duration: 3;
    
    }

    /* touch js codes */
    .fullwidth{
      
      clip-path:polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
    }
    .clipOpacityUpper{
      opacity: 1;
    }
    .clipOpacityUpperContainer{
      opacity: .25;
    }
    .clipOpacityLesser{
      opacity: 0;
    }
    .clipOpacityLesserContainer{
      opacity: 0;
    }
    .clipath1Index{
      z-index: 5;
      
    }
    .clipath2Index{
      z-index: 5;
    }
    .clipath3Index{
      z-index: 5;
    }
    
.sidbeBar{
  flex-basis: 35%;
  border: 2px solid #017030;
  padding: 1%;
  display: flex;
  flex-shrink: 1.2;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.comments, .comments>*{
  position: relative;
}

.comments:not(:last-child){
position: relative;
z-index: 2;
margin-bottom: 2%;

}
.comments{
  padding: 3%;
}
.comments::after{
content:'‟';
top:0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
z-index: 1;
background-color: #017030;
opacity: .25;
font-size: clamp(6rem, 8vw, 10rem);
text-align:left;
padding: 0;
color: #000000;

}
.comments div{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;
  align-items:center;
}
.comments div h5{
  font-size:clamp(.7rem, 2vw, 1rem);
  font-weight:600;
}



/* footer section */

footer{
  background-color: var(--secondaryColor);
  display: flex;
  flex-flow: column wrap;

  align-items: center;
  justify-content:space-between;
  
  padding-left: 3%;
  padding-right: 3%;
  gap: 1em;
}
.copyrighting{
  color: var(--dimmedText);
  width: clamp(100px, 100%, 394.667);
  display: flex;
  justify-content:center;
  align-items:center;
  font-size: clamp(.3rem, 2vw, .8rem);
}


.contactContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items:center;
  justify-content:center;
  padding-top: 2%;
}

.contactContainer>*{

  height:100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content:flex-start;
  color: var(--dimmedText);
  gap: 1rem;
  
}


.contactCardContainer:not(:last-child)>:last-child{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:center;
  
}
.socialLinks{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:space-between;
  
  
}
.contactContainer>*:not(:last-child){
  border-right: 3px solid #017030;
}
.socialLinks a{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-items:center;
  width: 100%;
  gap: 15px;
  text-decoration: none;
  color: var(--dimmedText);
  transition: all 0.3s ease-in-out;
}
.socialLinks a:hover, .navigationLinks a:hover{
  color: #59d394;
}
.socialLinks a span i{
  width: 100%;
}
.Facebook{
  text-align: left;
  padding-left:2px;
}
.twitter{
  margin-left:-4px;
  text-align: left;
}
.contactUsLinks p{
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-items:center;
  width: 100%;
  gap: 5px;
}
.lastChild{
  justify-content:space-between;
  align-items:center;
}
.navigationLinks{
  margin-left: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:center;
}


.navigationLinks>*{
width: 50%;
}


.navigationLinks>* a{
  text-decoration: none;
  color: var(--dimmedText);

  font-size: clamp(.3rem, 3vw, .7rem);
  
}

.navigationLinks div:last-child{
  display: flex;
  flex-flow: column wrap;
  justify-content:flex-end;
  align-items:baseline;
}
.navigationLinks div:last-child h4{
align-self: center;
}
.navigationLinks div:last-child a{
  padding-left: 20%;
  }


/* media queries */

@media (max-width:880px) {
  
/* touchscreen events */
.clipath1Index{
  z-index: initial;
  
}
.clipath2Index{
  z-index: initial;
}
.clipath3Index{
  z-index: initial;
}
.fullwidth{
      
  
  
}
.clipath1IndextableToMobile{
  z-index: 5;
}
.clipath2IndextableToMobile{
  z-index: 5;
}
.clipath3IndextableToMobile{
  z-index: 5;
}
.fullwidthTabletToMobile{
      
  clip-path:polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
  
}
 .contanerOpacity1::after, .contanerOpacity2::after, .contanerOpacity3::after{
  opacity: .25 !important;
}
.clipHeaderOpacity1,.clipHeaderOpacity2,.clipHeaderOpacity3,.clipParagrapOpacity1,.clipParagrapOpacity2,.clipParagrapOpacity3{
  opacity: 1 !important;
}

.clipPath2:active .clipPath2Content h2,.clipPath1:active .clipPath1Content h2,.clipPath3:active .clipPath3Content h2{
  opacity: 1;
}

.clipPath2:active .clipPath2Content p,.clipPath1:active .clipPath1Content p,.clipPath3:active .clipPath3Content p{
  opacity: 1;
}


.clipPath2:hover .clipPath2Content h2,.clipPath1:hover .clipPath1Content h2,.clipPath3:hover .clipPath3Content h2{
  opacity: 0;
}

.clipPath2:hover .clipPath2Content p,.clipPath1:hover .clipPath1Content p,.clipPath3:hover .clipPath3Content p{
  opacity: 0;
}



/* touchscreen Events end */



  .cardMainContainer{
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    gap: 20px;
  }
  .splash{
    position: relative;
    width: clamp(200px, 100%, 900px);
  height: clamp(700px, 100vh, 800px);
    
  }
  
  .splash::after{
  content:'';
  top:0;
  left: 0;
  width: clamp(200px, 100%, 900px);
  height: clamp(200px, 100vh, 800px);
  position: absolute;
  z-index: 0;
  object-fit: 100%;
  background:  linear-gradient(90deg, transparent 75%, rgba(82, 78, 78, 0.647) 99%),url(/cssjsfolder/splashhigh.jpg);
  background-size: cover;
  
  opacity: 0.5;
  }

  .splashTExt{
    padding-inline: 20px;
    position: relative;
    z-index: 4;
  }

  .splashImage::after{
    content: " ";
    background: initial;
  
    opacity: 0.8;
   
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    width: 100%;
    height: 100%;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .OfferCards{
    padding-top: 7%;
    max-height: 700px;
  }

  .cardMainContainer{
    max-height: 500px;
  }

  .cardContainer{
    justify-content: center;
    flex-flow: row wrap;
    max-height: 300px;
    max-width: 200px;
  }
  .cardTextContainer{
    padding: 6px 6px 0 6px;
  }
  .cardTextContainer h2{
    margin-bottom: 4px;
    font-size: 1.3rem;
  }
  .containerAboutUs{
    flex-flow: column nowrap;
  }
  .mainAboutUs{
    height: 100vh;
  }
}

@media (max-width:738px) {
 
  .homeHeader{
    padding-inline: 5%;
  }
  .ContainerforMobile{
    flex-basis: 70%;
    align-items: center;
  }
  .Logo{
    flex-basis: 30%;
  }
  .splash .splashImage{
    width: 10%;
  }

  .splashTExt{
    align-items: center;
    padding: initial;
    gap: initial;
    width: 90%;
  }
  .splashTExt>*{
    text-align: left;
    align-self: flex-start;
  }
  .splashTExt a{
    margin-top: 5%;
  }
  .cardMainContainer{
    flex-flow: column nowrap;
    
  }
  .cardTextContainer{
    height: 100%;
  } 
  .cardContainer{
    max-width: 500px;
    width: 100%;

  }
  .cardContainer:after{
    background-size: cover;
    background-position: center;
    
  }
  

  .partners{
    gap: 20% !important;
  }
  .partnersContainer{
    display: flex;
    flex-flow: column wrap !important;
    width: 97%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 738px;
  }
  .partnersContainer>*{
    flex: 1 1 50%;
    width: 100%;
    height: 50%;
  }
  .partnerTextPart>*, .partnerImagePart{
    padding: 0;
    margin: 0;
  }
  .partnerTextPart{
    display: flex;
    flex-flow: column nowrap;
    word-wrap: break-word;
    padding-right: 2%;
  }
  .partnerTextPart h2 {
    margin-bottom: 1% !important;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart {
    text-align: left;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart h2 {
    margin-bottom: 1% !important;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart p {
    word-wrap: break-word;
    
  }
  .partnerTextPart p{
    padding-right: 5px;
  }
  .partnersContainer:nth-of-type(even) .partnerTextPart::before, .partnersContainer:nth-of-type(odd) .partnerTextPart::before{
    max-height: 10px;
    bottom: 0%;
    top: initial;
    max-width: initial;
  }
  .partnersContainer:nth-of-type(2), .partnersContainer:nth-of-type(3){
    margin-bottom: 2%;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart{
    text-align: left;  
    align-items: flex-start;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart>*{
    width: 100%;
  }
  .partnersContainer:nth-of-type(3) .partnerTextPart{
    display: flex;
    flex-flow: column nowrap;
  }
}



@media (max-width:509px){
  p{
    pointer-events: none;
  }
  .homeHeader{
    padding-inline: 10px;
    justify-content: center;
    width: 100vw;
    position: fixed;
    
  }
  .Logo{
    flex-basis: 50%;
    display: grid;
    place-content: center;
  }
   .ContainerforMobile.ContainerforMobileDisappear{
    display: none !important;
  }
  .ContainerforMobile{
    position: absolute;
    flex-direction: column;
    height: 40vh;
    max-height: 260px;
    
    top:100.1%;
    right: 0;
    width: 100vw;
    justify-content: space-evenly;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .ContainerforMobile::after{
  content:'';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;
  background-color: var(--secondaryColor);
  opacity: .8;
  }

  
  .headerNavbar,.headerLogSignup{
    flex-direction: column;
    position: relative;
    z-index: 2;
    
  }
  .headerNavbar ul li a, .headerLogSignup a{
    font-size: clamp(.9rem, 2vw, 1.5rem) !important;
  }
  .listStyle{
    font-size: clamp(1rem, 2vw, 1.5rem) !important;
    border-bottom: 1px solid #09ff09 !important;
    letter-spacing: 4px;
    color: #09ff09 !important;
  }
  .headerNavbar ul{
    flex-flow: column nowrap !important;
  }
  .headerLogSignup a:nth-child(2){
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    border-bottom:none ;
    outline: none;
    background-color: initial !important;
    color: #F7F7F7 ;
    padding-bottom: 8px;
  }
  .headerLogSignup a:nth-child(1){
    padding-bottom: 8px;
  }
  .headerLogSignup{
    border-top: 1px solid rgb(232, 227, 227);
    padding-top: 20px;
    width: 200px;
    height: 60px;
  }
  .headerLogSignup a{
    transition: .5s;
  }
  
  .hamburgerSide{
    display: flex;
    position: fixed;
    right: 1.9%;
    top: 1.6%;
   cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: center;
    z-index: 999;
  }
  .hamburgerSide button i{
    background-color: var(--secondaryColor);
    align-self: center;
    color: white;
    pointer-events: none;
    
  }
  .hamburgerSide button{
   outline: none;
   border: none;
   background-color: var(--secondaryColor);
   width: 100%;
   height: 100%;
  }

  
  .cardMainContainer{
    flex-flow: column nowrap;
    
  }
  .contactContainer{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  .cardContainer{
    flex-flow: column nowrap;
  }
  .cardTextContainer{
    justify-content: center;
  }
  .contactContainer>*:not(:last-child){
    border-bottom: 3px solid #017030;
    border-right: initial;
    padding-bottom: 20px;
  }
  .splashTExt
  .splashTExt h3, .splashTExt p{
    width: 70%;
    word-wrap: break-word;
  }
  .splashTExt p{
    font-weight: 300;
    align-self: flex-start;
    color: black;
  }
  .splashTExt>*{
    text-align: left;
    align-self: flex-start;
  }
  .splashTExt a{
    margin-top: 5%;
  }
  .splash , .splash::after{
    max-height: 500px;
  }
  .partnerImagePart{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
  }
  .partnerTextPart::before{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}